mixin banners(modifier)
  section.banners
    .container
      .banners__wrapper
        .banners__item.banner
          .banner__pic 
            img(src="img/pic1.jpg", alt="")
            .banner__label.banner__label--blue НОВИНКА
          .banner__content 
            h3.banner__title Обзорная экскурсия по рекам и каналам с остановками Hop on Hop Off 2020
            p.banner__duration 2 часа
            ul    
              li Билет на целый день
              li Неограниченное число катаний
              li 6 остановок у главных достопримечательностей
              li Ближайший рейс сегодня
                .banner__times-wrapper 
                  .banner__time
                    input(type="radio", name="banner1")#t1
                    label(for="t1") 12:00     
                  .banner__time
                    input(type="radio", name="banner1")#t2
                    label(for="t2") 14:00     
                  .banner__time
                    input(type="radio", name="banner1")#t3
                    label(for="t3") 16:00     
                  button.banner__more-button.banner__time eщё...    
            .banner__row.aic 
              .banner__prices.prices
                .prices__new 900 ₽ 
              a.button.button--main(href="#") Подробнее
        .banners__item.banner
          .banner__pic 
            img(src="img/pic2.jpg", alt="")
            .banner__label.banner__label--yellow КРУГЛЫЙ ГОД
          .banner__content 
            h3.banner__title Обзорная экскурсия по рекам и каналам с остановками Hop on Hop Off 2020
            p.banner__duration 2 часа
            ul    
              li Билет на целый день
              li Неограниченное число катаний
              li 6 остановок у главных достопримечательностей
              li Ближайший рейс сегодня
                .banner__times-wrapper 
                  .banner__time
                    input(type="radio", name="banner1")#t4
                    label(for="t4") 12:00     
                  .banner__time
                    input(type="radio", name="banner1")#t5
                    label(for="t5") 14:00     
                  .banner__time
                    input(type="radio", name="banner1")#t6
                    label(for="t6") 16:00     
                  .banner__time
                    input(type="radio", name="banner1")#t7
                    label(for="t7") 18:00    
                  .banner__time
                    input(type="radio", name="banner1")#t8
                    label(for="t8") 20:00    
                  button.banner__more-button.banner__time eщё...    
            .banner__row.aic
              .banner__prices.prices
                .prices__new 900 ₽
                .prices__old 1200 ₽ 
                  |  на причале
              a.button.button--main(href="#") Подробнее
        .banners__item.banner
          .banner__pic 
            img(src="img/pic3.jpg", alt="")
          .banner__content 
            h3.banner__title Обзорная экскурсия по рекам и каналам с остановками Hop on Hop Off 2020
            p.banner__duration 2 часа
            ul    
              li Билет на целый день
              li Неограниченное число катаний
              li 6 остановок у главных достопримечательностей
              li Ближайший рейс сегодня
                .banner__times-wrapper 
                  .banner__time
                    input(type="radio", name="banner1")#t9
                    label(for="t9") 12:00     
                  .banner__time
                    input(type="radio", name="banner1")#t10
                    label(for="t10") 14:00     
                  .banner__time
                    input(type="radio", name="banner1")#t11
                    label(for="t11") 16:00     
                  button.banner__more-button.banner__time eщё...    
            .banner__row.aic
              .banner__prices.prices
                .prices__new 900 ₽
                .prices__old 1200 ₽  
                  |  на причале
              a.button.button--main(href="#") Подробнее
